/* Table of Contents */
body {
  background: #333;
  padding-top: 5em;
  color: white;
  font-family: monospace;
  font-size: 120%;
}

  a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
  color: #e7e7e7;
}

a:hover {
    text-decoration: none;
  color: #e7e7e7;
}

a:active {
    text-decoration: none;
  color: #e7e7e7;
}